img{

    
    margin: 1.66%;
    float: left;
    width: 30%;
    height: 30%;
}

h1{
    font-family: 'Press Start 2P';
    font-size: 325%;
}
button{
    margin: 10%;
    height: 30%;
    width: 20%;
}
