body{

	background: url(https://st2.depositphotos.com/4930557/8633/v/950/depositphotos_86333242-stock-illustration-seamless-background-with-different-glasses.jpg);
}


table{
	background-color: #bbbbbb;
}

h1{
	border: 5px solid purple;
}

/* id = 1 ocorrencia
	classe = n > 1 ocorrencias

	*/
#olhaocss{
	border: 5px solid blue;
}

.olhaaclass{
	background-color: red;
}

#linha{
	text-decoration: line-through;
}